footer{
  text-align:center;
  font-size:0.9rem;
  padding:20px;
  padding-top:20px;
  display:flex;
  align-items: flex-end;
  justify-content:center;
  background-color:var(--color-bg);
}

@media (min-width:501px) and (max-width:1000px){
  footer{
    font-size:0;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
  }
  footer::before{
    content:'©';
    font-size:2.0rem;
  }
  footer:hover::before{
    content:'';
  }
  footer:hover{
    /* background-color:var(--color-menu-hover); */
    position:absolute;
    bottom:0;
    font-size: 1.0rem;
    padding-right:10px;
    border:1px solid var(--color-menu-hover);
  }

}
@media (max-width:500px){
  footer{
    padding:10px;
  }
}