@import 'header/logo.css';
@import 'header/nav.css';
@import 'header/hamburger.css';
@import 'header/auth.css';

header{
  height : var(--size-header-height);
  display:flex;
  align-items:center;
  /* position:relative; */
  /* border-bottom:1px solid #ccc; */
}

header > *{
  height:100%;
}

header a{
  text-decoration : none;
}

header img{
  max-height:100%;
}

@media (max-width:1000px){
  
}
@media (max-width:500px){
  header .margin{
    display:none;
  }
  body header{
    /* position:absolute; */
    background-color:var(--color-bg);
    /* height:var(--size-header-height); */
    height: calc(var(--size-menu-icon) + 10px);
  }

}
