main{
  min-height : calc(100% - var(--size-header-height) - var(--size-footer-height));
  padding:20px;
}

main{
  /* height : calc(100% - var(--size-header-height)); */
  overflow-y:auto;
  padding:20px;
  background-color:var(--color-bain-bg);
}

@media (max-width:1000px){

}

@media (max-width:500px){
  main{
    height:auto;
    /* overflow-y:visible; */
    min-height:auto;
    flex:1;
  }
}
