body menu{
  padding:0;
  overflow:auto;
  background-color:var(--color-bg);
}

menu nav ul > li{
  position:relative;
}

menu nav ul > li > a,
menu nav ul > li > label{
  height: var(--size-menu-list);
  display:flex;
  align-items:center;
  padding:10px;
  cursor:pointer;
  background-color:var(--color-bg);
  color:var(--color-font);
  text-decoration:none;
}
menu nav ul > li > a svg,
menu nav ul > li > label svg{
  width:var(--size-menu-icon);
  height:var(--size-menu-icon);
  margin: 0 10px;
  fill : var(--color-font);
}

menu nav ul > li > a[data-status='active'],
menu nav ul > li > label[data-status='active']{
  background-color:var(--color-01);
  color:var(--color-font-invert);
}
menu nav ul > li > a[data-status='active'] *{
  color:var(--color-font-invert);
}
menu nav ul > li > label[data-status='active'] svg,
menu nav ul > li > a[data-status='active'] svg{
  fill : var(--color-font-invert);
}

menu nav ul > li > a:hover:not([data-status='active']),
menu nav ul > li > label:hover:not([data-status='active']){
  background-color:var(--color-menu-hover);
  color:var(--color-header-text-invert);
}
menu nav ul > li > a:hover:not([data-status='active']) *{
  color:var(--color-header-text-invert);
}
menu nav ul > li > a:hover:not([data-status='active']) svg,
menu nav ul > li > label:hover:not([data-status='active']) svg{
  fill : var(--color-header-text-invert);
}

/* Sub Menu */
menu nav input[type='checkbox']{
  display:none;
}
menu nav > ul > li > ul{
  display:none;
}
menu nav > ul > li > ul > li > a{
  padding-left:30px;
}
menu nav > ul > li:has(ul)::after{
  --size-arrow:10px;
  content : '';
  display:block;
  width:var(--size-arrow);
  height:var(--size-arrow);
  position:absolute;
  top: calc(var(--size-menu-list) / 2 - (var(--size-arrow) / 2));
  right: 15px;
  transform-origin:center;
  transform:rotate(45deg);
  border-style:solid;
  border-color:var(--color-font);
  border-width: 1px 1px 0 0;
}
menu nav > ul > li:has(input[type='checkbox']:checked)::after{
  transform:rotate(135deg);
}
menu nav > ul > li:has(input[type='checkbox']:checked) > ul{
  display:block;
}

@media (min-width:501px) and (max-width:1000px){
  menu nav ul > li > a,
  menu nav ul > li > label{
    font-size:0;
    padding:0;
    justify-content:center;
  }
  menu nav ul > li > a *,
  menu nav ul > li > label *{
    font-size:0;
  }
  menu nav > ul > li:has(ul)::after{
    --size-arrow:5px;
    right: 5px;
  }
  menu nav > ul > li > ul > li > a{
    padding-left:0px;
  }
}

@media (max-width:500px){
  menu{
    width:auto;
  }
  menu nav{
    position:absolute;
    top: calc(var(--size-header-height) + var(--size-menu-icon) + 10px);
    left:-100%;
    z-index:2;
    width:80%;
    max-height : calc(100vh - var(--size-header-height) - (var(--size-menu-icon) + 10px)); 
    /* max-height:(100vh - var(--size-header-height) * 2); */
    box-shadow:5px 5px 20px rgba(0,0,0,0.5);
    overflow-y:auto;
    transition-property:left;
    transition-duration:0.3s;
  }
  /* menu nav ul > li > a,
  menu nav ul > li > label{
    font-size:1.0rem;
    justify-content:flex-start;
  } */
  menu .menu-toggle ~ nav > ul > *{
    min-height:var(--size-menu-height-mobile);
    line-height:var(--size-menu-height-mobile);
    width:100%;
    text-align:center;
  }
  menu .menu-toggle ~ nav > *+*{
    border-top:1px solid #aaa;
  }
  menu .menu-toggle:checked ~ nav{
    left: 0;
    box-shadow:5px 5px 20px rgba(0,0,0,0.5);
  }
}
