.logo{
  height:var(--size-header-height);
  padding:15px;
  display:flex;
  align-items:center;
  text-decoration:none;
}

.logo .title{
  margin-left:10px;
  font-size:1.2rem;
  font-weight:bold;
  /* letter-spacing:-0.3rem; */
  white-space:nowrap;
  
  /* color:pink; */
}
.logo img,
.logo svg{
  max-height:100%;
}
/* @media (max-width:500px){
  .logo .title{
    font-size:1.6rem;
  }
} */
/* .logo:hover{
  background-color:var(--color-01);
}
.logo:hover .title{
  color:var(--color-font-invert);
}
.logo:hover img,
.logo:hover svg{
  filter:invert(100%) grayscale(100%);
} */
