.logo{
  height:var(--size-header-height);
  padding:15px;
  display:flex;
  align-items:center;
  text-decoration:none;
}

.logo .title{
  margin-left:10px;
  font-size:1.2rem;
  font-weight:bold;
  white-space:nowrap;
}
.logo img,
.logo svg{
  max-height:100%;
}

@media (max-width:1000px){
  .logo{
    padding:15px;
  }
  .logo .title{
    font-size:0;
  }
}
@media (max-width:500px){
  
}
