body header{
  background-color:transparent;
  display:flex;
  gap:1px;
  width:100%;
}
header .margin{
  flex:1;
  background-color:var(--color-bg);
}

header nav{
  margin-left:auto;
  display:flex;
  align-items:center;
}

header .menu{
  height:100%;
  display:flex;
  gap:1px;
  align-items:center;
}
header .menu > *{
  display:flex;
  /* min-width:var(--size-header-height); */
  height:100%;
  padding:5px;
  background-color:var(--color-bg);
  align-items:center;
  justify-content:center;
  cursor:pointer;
}

header .menu *{
  color : var(--color-header-text);
}
header .menu > *[data-status='active']{
  background-color:var(--color-01);
}
header .menu > *[data-status='active'] svg{
  fill:var(--color-03);
}

header .menu > *:hover:not([data-status='active']){
  background-color:var(--color-menu-hover);
}
header .menu > *:hover:not([data-status='active']),
header .menu > *:hover:not([data-status='active']) *{
  color:var(--color-header-text-invert);
}
/* header .menu > *:hover img{
  filter:invert(100%) grayscale(100%);
} */
header .menu > *:hover:not([data-status='active']) svg{
  fill:var(--color-header-text-invert);
}
header .menu .icon{
  width: var(--size-menu-icon);
  height: var(--size-menu-icon);
  fill:var(--color-header-text);
}


label[for='menu_toggle']{
  display:none;
}

@media (max-width:1000px){
  header .menu li a{
    display:inline-block;
    padding:0 0px;
    white-space:nowrap;
    position:relative;
  }
  label[for='menu_toggle']{
    display:none;
  }
}

@media (max-width:500px){
  label[for='menu_toggle']{
    display:block;
  }
  header nav{
    /* position:absolute;
    top:var(--size-header-height);
    left:-100%;
    width:80%; */
    /* height:var(--size-header-height);
    height: calc(var(--size-menu-icon) + 10px); */
    height:100%;
    /* background-color:white; */
    margin:0;
    width:100%;
    /* transition-property:left;
    transition-duration:0.3s;
    z-index:1000; */
  }
  /* header nav .menu{
    flex-direction:column;
    height:auto;
    width:100%;
  } */
  header .menu{
    justify-content:flex-start;
    width:100%;
    height:100%;
    background-color:var(--color-body-bg);
  }
  header .menu > *{
    padding:0;
    flex-grow:1;
    /* border-right:1px solid var(--color-body-bg); */
  }
  /* header .menu > *:first-child{
    border-left:1px solid var(--color-body-bg);
  } */
  /* header .menu-toggle ~ nav .menu > *{
    height:var(--size-menu-height-mobile);
    line-height:var(--size-menu-height-mobile);
    width:100%;
    text-align:center;
  }
  header .menu-toggle ~ nav .menu > *+*{
    border-top:1px solid #aaa;
  }
  header .menu-toggle:checked ~ nav{
    left: 0;
    box-shadow:5px 5px 20px rgba(0,0,0,0.5);
  } */
}
